@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

.mention_gradient {
  border-top: 1px solid 30%;
  border-image-slice: 1;
  border-image: linear-gradient(
    to bottom,
    rgb(202, 9, 19) 50%,
    rgb(4, 37, 102) 50%,
  );
}

.form-btn {
  @apply rounded-lg w-full font-medium h-12 text-white bg-gray-200;
}

.auth-form {
  @apply flex flex-col w-[350px];
}

.desc {
  @apply text-gray-400 font-thin  leading-6;
}

.last-message {
  background: white;
  position: relative;
}

.last-message::before {
  content: "";
  width: 30px;
  height: 27px;
  position: absolute;
  left: -30px;
  bottom: 0;
  border-bottom-right-radius: 60%;

  z-index: -1;
  box-shadow: 20px 0 0 0 white;
}
